/* LightGraph.css - Light Theme Styles */
.LightApp {
    background: url('../../../public/images/back5.jpg'); 
     /* Set a light background color */
    color: #333; /* Set text color for the light theme */
  }
  
  .LightColumn {
    display: block;
    padding: 20px;
    background: #fff; /* Set a white background for the container */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .LightContainer {
    padding: 20px;
  }
  
  .LightDidYouKnowContainer {
    padding: 20px;
    background: #ecf5fb; /* Light blue background */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .DidYouKnowTitle {
    font-size: 1.5rem; /* Adjust the font size as needed */
    margin: 0;
  }
  
  .DidYouKnowText {
    margin-top: 10px;
  }
  
  .DidYouKnowButton {
    background: #0074b5; /* Primary blue color */
    color: #fff; /* Text color */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .DidYouKnowButton:hover {
    background: #005581; /* Darker blue color on hover */
  }
  
  .LeftColumn {
    display: block;
  }
  
  .LightTransparentContainer {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
  }
  
  .RightColumn {
    display: block;
  }
  
.LightGraphContainer {
  padding: 20px;
  background: #fff; /* Set a white background for the container */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  /* Adjust width and height here */
  max-width: 800px; /* Set the maximum width for your graphs */
  max-height: 500px; /* Set the maximum height for your graphs */
}
.LightGraphRow {
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Space evenly between child elements */
  flex-wrap: wrap; /* Allow child elements to wrap to the next row if needed */
}
.LightTopic {
  font-size: 70px;
  font-weight: bold;
  text-shadow: 3px 3px 0px #080808;
}

.transparent2-container {
  background-image: url('../../../public/images/back4.webp');
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(11, 11, 11, 0.4);
  text-align: center;
  color:rgb(255, 254, 254)
}

.blockButton {
  display: block;
  background-color: #007BFF; /* Primary blue color */
  color: white; /* Text color */
  padding: 10px 20px; /* Adjust the padding as needed */
  border: none;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}