/* styles.css */
/* Image icon style */
.image-icon {
    width: 80px; /* Adjust the width as needed */
    height: 80px; /* Adjust the height as needed */
    margin-right: 0px; /* Adjust the margin as needed to separate the image from the text */
    display: inline-block; /* Display the image inline with the text */
  }
  
  /* Main container style */
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  /* Topic container style */
  .topic-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px; /* Add space between the topic and input fields */
  }
  
  /* Input container style */
  .input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between input fields */
    max-width: 60%; /* Adjust the maximum width of the input container */
    background-color: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the input container */
  }
  
  /* Input field style */
  .input-container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
  }
  
  /* Button style */
  .button {
    background-color: #007BFF;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #0056b3;
  }
  
  /* Prediction result style */
  .prediction {
    margin-top: 20px;
    font-weight: bold;
  }
  .slider-label {
    color: black;
  }
  
  .slider-container {
    display: flex;
    align-items: left;
  }
  
  .slider-value {
    flex-grow: 1;
    text-align: center;
    color: black;
  }
  
.Topic123  {
    font-size: 70px;
    font-weight: bold;
    text-shadow: 3px 2px 0px #0a0a0a;
    color: rgb(255, 255, 255); /* Add text color: black */
  }
  .BackgroundImage1 {
    background: url('../../../public/images/back5.jpg'); 
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .TransparentContainer {
    background: rgba(255, 255, 255, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .TopicContainer1 {
    padding: 20px;
    background-image: url('../../../public/images/back4.webp');  /* Background color without quotes */
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .custom-input-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .custom-input-row label {
    width: 100%;
    font-size: 17px;
  }
  
  .custom-input-row input {
    width: 15%; /* You can adjust this as needed */
    font-size: 15px;
  }
  .custom-h3 {
    font-size: 40px; /* Adjust the font size as needed */
    margin-bottom: -10px;
  }
  .custom-column {
    width: 100%; /* Set the width to 50% to create two equal columns */
    display: inline-block; /* Display the columns side by side */
    vertical-align: top; /* Align columns to the top */
    padding: 10px; /* Add some spacing between columns */
    box-sizing: border-box; /* Include padding in the width */
  }
  .custom-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px; /* Add margin between rows */
  }
  .input-container2 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between input fields */
    width: 100%; /* Adjust the maximum width of the input container */
    height: 103%;
    background-color: rgba(113, 196, 248, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the input container */
  }

  .input-container3 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between input fields */
    max-width: 50%; /* Adjust the maximum width of the input container */
    max-height: 40%;
    background-color: rgba(113, 196, 248, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the input container */
  }

  .input-container4 {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the gap between input fields */
    width: 85%; /* Adjust the maximum width of the input container */
    max-height: 100%;
    background-color: rgba(113, 196, 248, 0.8); /* Transparent white background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Box shadow for the input container */
  }

  .predicted-category {
    margin-top: 20px;
    font-size: 18px;
    color: #01579b;
  }

  .step-container {
    background-color: white;
    padding: 20px; /* Add padding for spacing */
  }
  .predict-button {
    display: block;
    width: 100%;
    padding: 15px 0; /* Adjust the padding as needed */
    background-color: #007BFF; /* Primary blue color */
    color: white; /* Text color */
    border: none;
    border-radius: 5px; /* Adjust the border radius as needed */
    font-size: 18px; /* Adjust the font size as needed */
    cursor: pointer;
  }
  
  .predict-button:hover {
    background-color: #0056b3; /* Darker blue color on hover */
  }
  .custom-select-input {
    width: 100%; /* Adjust the width as needed */
    height: 3rem; /* Adjust the height as needed */
    padding: 5px; /* Add some padding to make it more visually appealing */
    font-size: 15px; /* Adjust the font size as needed */
    margin-top: 7px;
  }
  i{
    margin-bottom: 5px;
  }
  .predicted-category {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .show-prediction {
    opacity: 1;
  }

  .prediction-container {
    background-color: #f0f0f0; /* Background color for the prediction */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  }
  
  .predicted-text {
    font-size: 24px; /* Adjust the font size as needed */
    color: #333; /* Text color */
    font-weight: bold;
  }
  .InfoTextContainer {
    background: #f5f5f5; /* Light gray background */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;
  }
  
  .InfoTextContainer p {
    margin: 0;
    font-size: 20px; /* Adjust the font size as needed */
  }
  
  .InfoTextContainer b {
    font-weight: bold;
    color: #0074b5; /* Primary blue color for the bold text */
  }
  